.superDiv{
    min-height: calc(100vh - 100px);
    
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    /*
    transform: translateZ(-1px);
    background: linear-gradient(45deg,
    rgb(190, 0, 0) 0%,
    rgb(190, 124, 0) 40%,
    black 100%)
    repeat 0% 0% / 300% 100%;
    background-attachment: fixed;
    

    position: absolute;
    
    backdrop-filter: blur(50px);

    animation: fire 5s linear infinite;
    */
    padding-top: 100px;

    h1{
        min-height: 0;
        margin: 0px 100%;
        //margin-top: 100px;

        background-color: white;
        border-radius: 20px;
        padding: 20px;

        text-wrap-mode: nowrap;
        margin-bottom: 0px;
        box-shadow: black 0.1px 0.1px 10px 1px;
    }

    .flexCards{
        min-height: 0;
        //padding: 0px 0px;
        padding-top: 0px;
        width: 70%;
        height: auto;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;

        li{
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 10px;
    
            z-index: 10;
            list-style-type: none;
            height: 300px;
            width: 200px;
            position: relative;
            
        }
        .card{
            
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            
            
    
            border-radius: 20px;
            height: 100%;
            width: 100%;
            img{
                position: absolute;
                z-index: 2;
                height: 80%;
                width: 80%;
                border-radius: 20px;
                box-shadow: rgb(255, 255, 255) 1px 1px 20px 5px;
            }
            p{
                margin: 0px;
                border-bottom: 2px solid rgb(0, 0, 0);
                display: none;
            }
        }
        .card::before{
            content: "";
            z-index: 3;
            position: absolute;
            height: 80%;
            width: 80%;
            border-radius: 20px;
            //background-color: rgba(255, 206, 131, 0.158);
            /*
             background: linear-gradient(45deg,
            rgba(0, 0, 0, 0.308) 0%,
            rgba(87, 87, 87, 0.322) 100%)
            repeat 0% 0% / 300% 100%;
            background-attachment: fixed;
            animation: fire 10s linear infinite;
            */
        }
    
        li:hover{
            //height: 300px;
            //width: 200px;
            cursor: pointer;
            img{
                height: 100%;
                width: 100%;
            }
            .card{
              animation: levantarCarta 1s; //cubic-bezier(0.8, 1, 1, 0.8);
              transform: rotateX(15deg) skew(2deg);
              box-shadow: white 0.1px -0.1px 20px 3px, black -1px 10px 10px 10px;
            }
            .card::before{
                background-color: rgba(255, 255, 255, 0.699);
                height: 100%;
                width: 100%;
            }
            p{
                display: inline;
                
            }
            .desc{
                word-break: break-all;
                overflow: hidden;
                //font-weight: 400;
                font-size: 13px;
                //padding: 4px 20px;
                //background-color: rgba(0, 0, 0, 0.418);
                border-radius: 20px;
            }
            p{
                text-align: center;
                width: 90%;
                padding: 8px 5px;
                background-color: rgba(0, 0, 0, 0.863);
                border-radius: 20px;
                color: white;
                z-index: 4;
            }
            .star{
                height: 20px;
                width: 20px;

                margin-left: 3px;
            }
        }
    }

}

.superDiv::before{
    content: "";
    position: absolute;
    z-index: -1;

    width: 200%;
    min-height: 200%;

    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);


    transform: translateZ(-1px);
    background: linear-gradient(15deg,
    rgb(138, 0, 0) 0%,
    rgb(117, 76, 0) 50%,
    rgb(0, 0, 0) 100%)
    repeat 0% 0% / 200% 100%;
    //background-attachment: fixed;
    
    position: fixed;
    backdrop-filter: blur(50px);
    animation: fire 5s cubic-bezier(1, 0.1, 0.1, 1) infinite;
}
@keyframes fire {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


.ashes{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}
.particle {
  position: absolute;
  width: 10px;
  height: 3px;
  background: rgb(146, 100, 0);
  box-shadow: rgb(255, 0, 0) -1px -1px 10px 3px, rgb(255, 145, 0) 1px 1px 10px 5px;
  border-radius: 50%;
  opacity: 0;
  filter: blur(1px);
  animation: floatUp linear infinite;
  z-index: 999;
}

.particle:nth-child(1) {
  left: 10%;
  animation-duration: 15s;
  animation-delay: 0s;
}

.particle:nth-child(2) {
  left: 30%;
  animation-duration: 12s;
  animation-delay: 4s;
}

.particle:nth-child(3) {
  left: 50%;
  animation-duration: 13s;
  animation-delay: 2s;
}

.particle:nth-child(4) {
  left: 60%;
  animation-duration: 17s;
  animation-delay: 3s;
}

.particle:nth-child(5) {
  left: 70%;
  animation-duration: 15s;
  animation-delay: 2s;
}
/*
.particle:nth-child(6) {
  left: 60%;
  animation-duration: 13s;
  animation-delay: 9s;
}

.particle:nth-child(7) {
  left: 70%;
  animation-duration: 18s;
  animation-delay: 6s;
}

.particle:nth-child(8) {
  left: 80%;
  animation-duration: 19s;
  animation-delay: 8s;
}

.particle:nth-child(9) {
  left: 90%;
  animation-duration: 16s;
  animation-delay: 7s;
}

.particle:nth-child(10) {
  left: 15%;
  animation-duration: 15s;
  animation-delay: 7s;
}
*/
@keyframes floatUp {
  0% {
    top: 90vh;
    opacity: 0;
    transform: translateX(0px) scale(1) rotate(0deg);
  }
  10% {
    opacity: 0.6;
    transform: translateX(50px) rotate(50deg);
  }
  30%{
    transform: translateX(100px) rotate(140deg);
    box-shadow: rgb(255, 153, 0) -1px -1px 10px 3px, rgb(255, 145, 0) 1px 1px 10px 5px;
    background: rgb(255, 0, 0);
  }
  50% {
    opacity: 0.3;
    transform: translateX(150px) scale(1.2) rotate(240deg);
     box-shadow: rgb(255, 0, 0) -1px -1px 10px 3px;
     border-radius: 100%;
     width: 3px;
  }
  100% {
    top: 10vh;
    opacity: 0;
    transform: translateX(200px) scale(0.8) rotate(360deg);
    border-radius: 100%;
    width: 3px;
    background: rgb(0, 0, 0);
  }
}

@keyframes levantarCarta {
  0%{
    transform: rotateX(0deg) skew(0deg);
    box-shadow: none;
  }
  100%{
    transform: rotateX(15deg) skew(2deg);
    box-shadow: white 0.1px -0.1px 20px 3px, black -1px 10px 10px 10px;
  }
}
