<app-header/>
<div class="superDiv">
    <h1>Top 10 Hottest Movies </h1>
    <div class="flexCards">
        @for (movie of movies; track movie.movieViews.id) {
           <li>
               <div class="card" (click)="showMovie(movie.movieViews.name)">
                   
                   <img src="http://localhost:8080/image/get/image/movie/{{movie.movieViews.name}}" alt=""/>
                   <p>{{indexMovie(movie.movieViews.name)}}. {{movie.movieViews.name}}</p>
                   <p>{{movie.movieViews.rate}} <img class="star"src="/star.png"/></p>
                   <p class="desc">{{movie.movieViews.description}}</p>
               </div>
           </li>
       } @empty {
           <li>There are no items.</li>
       }
    </div>
</div>

<div class="ashes">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <!--<div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>-->
</div>